<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tu cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-padding">
    <ion-item lines="none" detail>
      <ion-icon src="assets/icons/store.svg" slot="start"></ion-icon>
      <ion-label>
        Cuentas asociadas
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none" detail>
      <ion-icon src="assets/icons/multiple-users.svg" slot="start"></ion-icon>
      <ion-label>
        Usuarios y Roles
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none" detail>
      <ion-icon src="assets/icons/notification.svg" slot="start"></ion-icon>
      <ion-label>
        Novedades
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none" detail>
      <ion-icon src="assets/icons/logout.svg" slot="start"></ion-icon>
      <ion-label>
        Cerrar sesión
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>